[2016-08-29 06:03] northeastsquare opened #1 "run demo.lua error"
Hello, after installation, I ran demo.lua, I got:
/home/sam/torch/install/bin/luajit: ./deepmask/InferSharpMask.lua:67: attempt to get length of field 'refs' (a nil value)
stack traceback:
	./deepmask/InferSharpMask.lua:67: in function '__init'
	/home/sam/torch/install/share/lua/5.1/torch/init.lua:91: in function </home/sam/torch/install/share/lua/5.1/torch/init.lua:87>
	[C]: in function 'Infer'

[2016-08-29 07:32] szagoruyko commented on #1
cc @poliveirap can you take a look?

[2016-08-29 07:54] poliveirap commented on #1
hm, weird. It does work here.
it seems that the path to sharpmask.t7 is not correct...?
What is the exact command you using to run the demo? Where is sharpmask.t7 located in you directory?

[2016-08-29 08:02] northeastsquare commented on #1
/home/sam/src/multipathnet/data/models/sharpmask.t7

[2016-08-29 08:22] poliveirap commented on #1
I guess this error would appear if you use deepmask.t7 instead of sharpamsk.t7 (ie pretrained deepmask instead of pretrained sharpmask), as deepmask does indeed not have 'refs' key.
How did you get this sharpmask model? (this command: wget https://s3.amazonaws.com/deepmask/models/sharpmask/model.t7 -O sharpmask.t7 ?)
(sorry for this question, but its hard to debug since it does work in my side wit

[2016-08-29 08:26] northeastsquare commented on #1
md5sum sharpmask.t7
b4db9112a422acf74c75c9c15bbc3987  sharpmask.t7

[2016-08-29 08:35] poliveirap commented on #1
So yes, I think your sharpmask.t7 is actually deepmask, not sharpmask.
(from deepmask repository:)
md5sum pretrained/deepmask/model.t7
b4db9112a422acf74c75c9c15bbc3987  pretrained/deepmask/model.t7
md5sum pretrained/sharpmask/model.t7
1767d49a3150617b9abfcd054c135afb  pretrained/sharpmask/model.t7

Run  wget https://s3.amazonaws.com/deepmask/models/sharpmask/model.t7 -O sharpmask.t7
to download sh

[2016-08-29 08:39] northeastsquare commented on #1
@poliveirap Thank you, I will try.

[2016-08-29 18:57] poliveirap commented on #1
Did it work? Can I close this now?

[2016-08-30 02:14] northeastsquare commented on #1
@poliveirap ,worked. but use some other image without target to run demo.lua, there is error:
/home/sam/torch/install/bin/luajit: ./demo.lua:83: calling 'select' on bad self (empty Tensor at /home/sam/torch/pkg/torch/generic/Tensor.c:380)
stack traceback:
	[C]: in function 'select'
	./demo.lua:83: in main chunk
	[C]: in function 'dofile'
	.../sam/torch/install/lib/luarocks/rocks/trepl/scm-1/bin/th

[2016-08-30 02:33] #1 closed

[2016-08-30 11:04] gpolaert opened #2 "Version of Lua, Torch // demo issue"
Hi everyone,

I tried to run the demo, but I had this issue when the script is loading the sharpmask model.
```/usr/local/bin/luajit: /usr/local/share/lua/5.1/torch/File.lua:301: Failed to load function from bytecode: (binary): cannot load incompatible bytecode```

If I think it's a probably because I haven't the right version of lua or torch.
Is that possible? If yes, which one I have to install.

[2016-08-30 12:39] szagoruyko commented on #2
there was a bug in cudnn.torch that was saving `accGradParameters` function inside every convolution. You can update your torch with `luarocks install torch` as it should be fixed to ignore such functions on loading via https://github.com/torch/torch7/pull/748

if it doesn't help @poliveirap you could run `net:apply(function(x) x.accGradParameters = nil end)` on sharpmask and reupload the model

[2016-08-30 13:31] gpolaert commented on #2
Still have the issue, with a smarter error message :)
[code]

I will try to generate the model by my side even if I a lot to learn and read.
But, it will be awesome if you upload it again ;).

I'm very impressed about all have be done, and shared :) Thanks a lot ^^

[2016-08-30 13:39] szagoruyko commented on #2
@gpolaert thanks for the feedback!
cc @soumith seems that https://github.com/torch/torch7/pull/748 didn't work?

[2016-08-31 23:15] cramaiah opened #3 "Link to model files missing"
From the readme

Please provide the link for the two model files.

[2016-09-01 00:16] cramaiah commented on #3
Sorry, I found it.

[2016-09-01 00:16] #3 closed

[2016-09-01 18:39] tzatter opened #4 "Out of memory :("
My environment setting is GTX960 2G, Ubuntu16.04, cuda8.0

I have tried to run demo

$ th demo.lua -img ./deepmask/data/testImage.jpg

...

THCudaCheck FAIL file=/home/tzatter/torch/extra/cutorch/lib/THC/generic/THCStorage.cu line=40 error=2 : out of memory
/home/tzatter/torch/install/bin/luajit: /home/tzatter/torch/install/share/lua/5.1/nn/Container.lua:67:
In 6 module of nn.Sequential:
In 1 modu

[2016-09-01 18:52] szagoruyko commented on #4
you can try a few things:
* run on a smaller image (-maxsize option)
* reduce number of scales and max scale (-si, -sf, -ss options)
* more advanced, plug [optnet](https://github.com/fmassa/optimize-net) here https://github.com/facebookresearch/deepmask/blob/master/InferDeepMask.lua#L79

[2016-09-01 19:31] tzatter commented on #4
Hello Mr. szagoruyko

I have tried following below command
$th demo.lua -maxsize 128 -img ./deepmask/data/testImage.jpg
$th demo.lua -maxsize 128 -si -0.25 -sf 0.25 -ss 0.25 -img ./deepmask/data/testImage.jpg

but still out of memory

I have noticed my cudnn version is old
After upgraded I will try again

Thank you! (-人-)

[2016-09-01 22:37] tzatter commented on #4
I need more memory but I am not a rich animal
I want GTX 1060 6GB (-人-)

[2016-09-02 01:17] northeastsquare commented on #2
@szagoruyko , @gpolaert , @soumith If I use luajit, demo worked; But I train, out of memory, so I changed to plain  lua according to https://github.com/karpathy/char-rnn/issues/80, but the demo not work:

/home/sam/torch/install/bin/lua: /home/sam/torch/install/share/lua/5.1/torch/File.lua:301: Failed to load function from bytecode: binary string: bad header in precompiled chunk
stack traceback:

[2016-09-02 01:47] northeastsquare opened #5 "train ResNet-18 on COCO, got error"
Hi, I train ResNet-18 on COCO according to README.md:
train_nGPU=1 test_nGPU=1 model=resnet resnet_path=./data/models/resnet/resnet-18.t7 ./scripts/train_coco.sh
By the way, I installed torch7 luajit, But train out of memory, so I
cd ~/torch;
TORCH_LUA_VERSION=LUA51 ./install.sh

I don't know this matter or not.

I got the following error:

Loading proposals at 	{
  1 : "/home/sam/src/multipathnet

[2016-09-02 03:04] northeastsquare commented on #5
I ran ./clean.sh, in ~/torch, then
TORCH_LUA_VERSION=LUA51 ./install.sh
and install the other package, but resualt is the same.

[2016-09-02 08:59] szagoruyko commented on #5
@northeastsquare I pushed a patch for coco in https://github.com/facebookresearch/multipathnet/commit/e6b9e0dc68db5af4662be5f6c272c1db82ab514d, can you pull and try again?

[2016-09-02 17:59] jfisher4 opened #6 "Broken download link in Data Preparation area of Readme.md"
Hello,

it appears that a couple of the links named "here" in the data preparation are not working. Below I pasted what I am trying to describe.

models folder should contain AlexNet and VGG pretrained imagenet files downloaded from **here** .

proposals should contain t7 files downloaded from **here**

Can you please provide the links?

Thanks,

Ryan

[2016-09-02 18:09] jfisher4 opened #7 "problems installing fbpython and building PythonAPI"
Hi,

I had some problems when installing fbpython and found the problem to be that I did not have thpp installed. Should the readme be updated to warn other users?

https://github.com/facebook/thpp

Also I ran into issues when following the step where you cd into PythonAPI and make. Turns out I did not have Cython. I installed this using pip.

sudo apt-get install python-pip
sudo pip install Cytho

[2016-09-02 18:24] szagoruyko commented on #7
@jfisher4 thanks for the feedback! what problem did you have with fbpython? there was an issue with gtest that was resolved in https://github.com/facebook/thpp/commit/953baf6f0ab1011642e105b9ca4a6db9d565d2f3, it should install fine now

[2016-09-02 18:31] jfisher4 commented on #7
When I tried to do luarocks install fbpython the output was fussing about some THPP vars not existing. I do not seem so have the record of the error. I think the problem was that I was unaware of the dependency of thpp.

Thanks,

Ryan

[2016-09-02 19:22] szagoruyko commented on #6
added the link to https://github.com/facebookresearch/multipathnet#training

[2016-09-04 15:55] tzatter commented on #4
A square size image 256*256 has been successfully done at most
![res](https://cloud.githubusercontent.com/assets/17694190/18232083/5aa4eb20-7303-11e6-8b1c-551b08822aef.jpg)

[2016-09-05 10:37] northeastsquare opened #9 "COCO_train2014_000000256028.jpg: No such file or directory"
after many tries, mutipathnet begins to train( I use command
model=resnet resnet_path=./data/models/resnet/resnet-18.t7 ./scripts/train_coco.sh
),
but it can't find COCO_train2014_000000256028.jpg.
I download the
http://msvocds.blob.core.windows.net/coco2014/train2014.zip
http://msvocds.blob.core.windows.net/coco2014/val2014.zip
and extract to
~/datasets/mscoco/

I don't know why, can you help me?

[2016-09-05 15:34] gpolaert commented on #2
Could you let me know the version used on sharpmask?

[2016-09-06 00:55] northeastsquare commented on #2
I use these version, worked:
git clone -b v0.35.0  --depth 1 https://github.com/facebook/folly
    git clone -b v0.24.0  --depth 1 https://github.com/facebook/fbthrift
    git clone -b v1.0 https://github.com/facebook/thpp
    git clone -b v1.0 https://github.com/facebook/fblualib

[2016-09-06 02:14] northeastsquare commented on #9
Sorry, I mistake the dataset.

[2016-09-06 02:14] #9 closed

[2016-09-06 02:43] northeastsquare commented on #5
Yes, after pull, and use pure lua51 not luajit, and comment many 'tds', it start to train.Thank you.

[2016-09-06 02:43] #5 closed

[2016-09-06 05:27] northeastsquare commented on #9
If I use the plain lua not luajit, nDonkey can only be set to 1.

[2016-09-06 05:33] northeastsquare opened #10 "improve multipathnet like faster rcnn"
@szagoruyko   Hello, have you thought of  training the sharpmask module jointly with the multipathnet network, just like faster rcnn? and also inference time?

[2016-09-06 20:58] jfisher4 commented on #4
Hi,
I am trying to run the sample code to test my installation and am getting an error most likely due to a path var not being set correctly.

... init.lua:384: module 'deepmask.SharpMask' not found:No LuaRocks module found for deepmask.SharpMask
	no field package.preload['deepmask.SharpMask'] ...

Did I miss a step? Can you please help me figure out how to tell lua where deepmask resides?

Thanks

[2016-09-07 00:58] tzatter commented on #4
Hello^^  check your directory tree the same as following below

$ sudo apt-get install tree
$ cd ~/multipathnet/
$ tree .
.
├── BatchProviderBase.lua
├── BatchProviderROI.lua
├── CONTRIBUTING.md
├── DataSetJSON.lua
├── ImageDetect.lua
├── LICENSE
├── Makefile
├── PATENTS
├── README.md
├── Tester_FRCNN.lua
├── config.lua
├── data
│   ├── annotations
│   │   ├── instances_train-val2014.zip
│   │   ├

[2016-09-07 01:56] neoxiang commented on #4
@tzatter Hi, I met the same problem like you said in your first comment. My graphic card is R470, GPU memory is 2GB too. Could you kindly tell what's your version of cudnn? And the sample picture the girl was your correct result with the upgrading of cudnn or upgrading of your graphic card? Thank you.

[2016-09-07 02:31] tzatter commented on #4
My cudnn version is upgraded from the version 5.0 to the version5.1(cudnn-8.0-linux-x64-v5.1.tgz)

My GPU is the same as GTX960 2G

Important! I don't launch any GUI applications^^

[2016-09-07 02:48] neoxiang commented on #4
@tzatter Yes, I followed your comment and crop it to a square image, then " -maxsize 128" is enabled and  I met another problem:
/home/ww/distro/install/bin/luajit: /home/ww/distro/install/share/lua/5.1/coco/CocoApi.lua:126: assertion failed!
stack traceback:
	[C]: in function 'assert'
	/home/ww/distro/install/share/lua/5.1/coco/CocoApi.lua:126: in function '__init'
	/home/ww/distro/install/share/

[2016-09-07 03:31] tzatter commented on #4
Do you have downloaded these files?
├── data
│   ├── annotations
│   │   ├── instances_train-val2014.zip
│   │   ├── instances_train2014.json
│   │   ├── instances_val2014.json
│   │   └── instances_val2014.t7

[2016-09-07 04:14] estaudt opened #11 "FATAL THREAD PANIC - while training coco"
I'm trying to train the coco dataset and I run into the following errors. When attempting to train with train_multipathnet_coco.sh, I see this.

train_nGPU=2 test_nGPU=1 ./scripts/train_mulitpathnet_coco.sh
...
model_opt
{
  model_conv345_norm : true
  model_foveal_exclude : -1
  model_het : true
}
/home/elliot/torch/install/bin/luajit: /home/elliot/torch/install/share/lua/5.1/nn/Sequential.lua:29

[2016-09-07 04:35] neoxiang commented on #4
Yes,

./data/annotations
├── ILSVRC2014_train.json
├── ILSVRC2014_val.json
├── instances_train2014.json
├── instances_train2014.t7
├── instances_train2014.zip
├── instances_val2014.json
├── instances_val2014.t7
├── instances_val2014.zip
├── pascal_test2007.json
├── pascal_train2007.json
├── pascal_train2012.json
├── pascal_val2007.json
└── pascal_val2012.json
And I also have modified config.lua as

[2016-09-07 04:53] neoxiang commented on #4
finally succeed! I have changed model names back to "val.t7" . it works.
![res](https://cloud.githubusercontent.com/assets/22041671/18300237/e2c6d6ec-74f9-11e6-9f20-79a83add09d6.jpg)

[2016-09-07 06:11] gpolaert commented on #2
Starting from scratch again seems to OK, excepted I'm running out of memory ;)

[2016-09-07 06:11] #2 closed

[2016-09-07 06:16] tzatter commented on #4
congratulation!^^
I am trying running on  g2.2xlarge of amazon ec2

[2016-09-07 07:12] gpolaert commented on #4
I'm running out of memory too :) @tzatter, let give me your feedback about aws :)

I've encountered another issue, and I don't understand what's going on :'(.
Have you been faced to this one?
[code]
Any idea?

[2016-09-07 07:21] tzatter commented on #4
Hello^^
I'm a first-time user for amazon aws
Now I am reading tutorial lol
 I will contact you when something happens

[2016-09-07 07:21] gpolaert commented on #4
Sure :)

[2016-09-07 07:52] tzatter commented on #4
You have requested more instances (1) than your current instance limit of 0 allows for the specified instance type. Please visit http://aws.amazon.com/contact-us/ec2-request to request an adjustment to this limit.

It could be tomorrow ^^

[2016-09-07 08:30] neoxiang commented on #4
@gpolaert I have met the same issue. You can tried to crop your image to a square scale(same width and height), I hope it would be helpful.

[2016-09-07 09:10] northeastsquare commented on #11
change nDonkey  smaller, may be help

[2016-09-07 11:43] szagoruyko commented on #11
can reproduce, will try to fix. you can train on `train` instead of `trainval` meanwhile, I think it should not have this problem.

[2016-09-07 14:33] tzatter commented on #4
g2.2xlarge setting up took two hours

th demo.lua -np 5 -maxsize 800 -img ./deepmask/data/my04.jpg
![np05](https://cloud.githubusercontent.com/assets/17694190/18315608/8aa306a8-7552-11e6-9148-29afe5ad539a.jpg)

th demo.lua -np 10 -maxsize 800 -img ./deepmask/data/my04.jpg
![np10](https://cloud.githubusercontent.com/assets/17694190/18315622/9ab0c8aa-7552-11e6-838d-8fb1f740c972.jpg)

th demo.lua -np

[2016-09-07 15:59] jfisher4 commented on #4
@tzatter Thanks very much for the help. After fixing my dir structure and installing one more dependency (luarocks install optnet) I have it working.

[2016-09-07 18:18] estaudt commented on #11
Update: Changing trainval to train and nDonkeys from 4 to 6 worked.

I changed trainval to train in train_coco.sh and ran into the following error.

Loading proposals at 	{
  1 : "/home/elliot/Devel/multipathnet/data/proposals/coco/sharpmask/train.t7"
}
Done loading proposals
\# proposal images	82783
\# dataset images	82783
\# images	82783
\nImages	82783
/home/elliot/torch/install/bin/luajit: ...e

[2016-09-08 01:36] #10 closed

[2016-09-08 02:39] samson-wang opened #12 "what is data/annotations/pascal_train2007.json"
Hi all, I downloaded the VOC2007 dataset [VOCtrainval_06-Nov-2007.tar](http://host.robots.ox.ac.uk/pascal/VOC/voc2007/VOCtrainval_06-Nov-2007.tar). There is no json in it.
I think I should convert the voc annotation format to json. Could anyone give me a clue? Thanks!

[2016-09-08 06:48] tzatter commented on #4
@gpolaert I met the same issue. This error message means detected objects are not found

[2016-09-08 06:52] tzatter commented on #4
Can I close this thread?

[2016-09-08 07:04] #4 closed

[2016-09-08 07:05] northeastsquare opened #13 "How to resume from a checkpoint?"
Hello, I want to resume training from a checkpoint,  tried to set opt.checkpoint=true, then I got error:

/root/torch/install/bin/luajit: train.lua:227: attempt to index global 'checkpoint' (a nil value)
stack traceback:
	train.lua:227: in function 'hooks'
	./engines/fboptimengine.lua:50: in function 'train'
	train.lua:363: in main chunk
	[C]: in function 'dofile'
	/root/torch/install/lib/luarocks

[2016-09-08 10:15] szagoruyko commented on #12
the link is in readme http://mscoco.org/external/, although it had https and was incorrect. Scroll down to PASCAL VOC and click download JSON.

[2016-09-08 10:18] szagoruyko commented on #11
@estaudt reducing `nDonkeys` turns off integral loss and increases data loading time

[2016-09-08 14:51] samson-wang commented on #12
Great! Thank you!

[2016-09-08 14:51] #12 closed

[2016-09-08 16:07] apedev opened #14 "Error running demo.lua"
I am having the following issue trying to run the demo script. Could this be caused by a missing dependency?

Directories:
multipathnet/
|-->deepmask/
|-->data/

[code]

[2016-09-08 16:32] szagoruyko commented on #14
[code]

[2016-09-08 16:50] apedev commented on #14
Thank you, that seemed to solve the issue. Now I am running into the [OutOfMemory issue](https://github.com/facebookresearch/multipathnet/issues/4) but that's another problem. You can consider this one closed. Thanks again.

[2016-09-08 20:24] #7 closed

[2016-09-09 10:48] samson-wang opened #16 "A guid to prepare data to train a detection model?"
I notice that the training has been kind of "hard coded" to different versions of pascal voc and coco datasets. I'm trying to figure out the data flow and data format requirement to run training on "new"
data. Still have some problems in loading and preparing data before training (Even on voc or coco data). Could anyone give some advices to help me to build up the process.

Now, I have some images

[2016-09-10 17:21] szagoruyko commented on #16
@samson-wang the code is generic and can be used for COCO/VOC/ImageNet given JSON annotations in the right format similar to http://mscoco.org/external/ and proposals similar to the ones that we provide, in torch format.

[2016-09-10 17:21] #14 closed

[2016-09-10 17:23] szagoruyko commented on #13
not sure checkpointing works correctly right now, please use `retrain` option while we fix checkpointing.

[2016-09-13 01:45] samson-wang commented on #16
@szagoruyko  Thank you! I'm working on it.
For proposals, I want to use deepmask. Referred to `data/proposals/coco/deepmask/val.t7`, `images, boxes, scores` should be contained. In addition, scores seem to be not in an order. In deepmask project, There is only a `getTopProps` function which generates proposals ordered by corresponding scores. Is the score ordering a case that I should take care?
A

[2016-09-13 02:31] northeastsquare commented on #13
@szagoruyko , Thank you
I notice in logs dir, there is :
transformer.t7,optimState_500.t7,model_500.t7

So I set :
retrain=model_500.t7
 transformer=transformer.t7

But where to set optimState_500.t7?

[2016-09-14 04:24] samson-wang commented on #16
@szagoruyko  I have trained on my own data which only has 1 category of boundingbox.
There is a trick to change `opt.num_classes = opt.dataset == 'pascal' and 21 or 81` to `opt.num_classes = 2`. I'm not sure if it make sense.
However, when run demo with the trained model something weird happens.
After execution of `prob, maxes = detections:max(2)`, get all '1's for both prob and maxes which leads

[2016-09-14 08:53] samson-wang commented on #16
I think the problem may be too few positive samples in the training dataset. So when predicting, all proposals are predicted to negative.
Training data summary:
[code]

[2016-09-15 01:26] veejai commented on #11
Getting the same error when executing-

train_nGPU=1 test_nGPU=1 ./scripts/train_mulitpathnet_coco.sh
...
model_opt
{
  model_conv345_norm : true
  model_foveal_exclude : -1
  model_het : true
}
/home/vijay/torch/install/bin/luajit: /home/vijay/torch/install/share/lua/5.1/nn/Sequential.lua:29: index out of range
stack traceback:
	[C]: in function 'error'
	/home/vijay/torch/install/share/lua/5.1/nn

[2016-09-18 14:14] szagoruyko commented on #16
@samson-wang looks like you need to adjust fraction of positive examples in batches to balance your data, check here https://github.com/facebookresearch/multipathnet/blob/master/BatchProviderROI.lua#L19

[2016-09-18 14:19] szagoruyko commented on #13
@northeastsquare there is no option, momentum will be reset.

[2016-09-19 11:29] northeastsquare commented on #13
OK

[2016-09-19 11:30] #13 closed

[2016-09-19 11:33] northeastsquare commented on #11
I comment out line in models/multipathnet.lua
--for i,v in ipairs{9,8,1} do classifier:remove(v) end

[2016-09-20 10:34] samson-wang commented on #16
@szagoruyko  Thank you for your tip!
I found that running `demo.lua` got all negative after `detector:detect(img:float(), bboxes:float())` even on a image from training set. Other wise, running `run_test.lua` on training set is all right. Evaluation on test set got `0.33 AP @0.75` and `0.77 AP @0.5`. Not as bad as `demo` result.
After some debug, though not conclusive, there is something wired.
I

[2016-09-20 14:25] samson-wang commented on #16
Update, https://github.com/facebookresearch/multipathnet/blob/e6b9e0dc68db5af4662be5f6c272c1db82ab514d/DataSetJSON.lua#L234
boxes permuted.

[2016-09-20 20:50] tanakka opened #17 "How to generate proposals t7 files?"
How can I generate train.t7 and val.t7 from deepmask output?
deepmask/evalPerImage.lua generates multiple JSON|t7 files. (divided into chunks of 500 images each)

[2016-09-20 23:38] veejai commented on #11
doing that results in the following :(

    {
      1 : CudaTensor - size: 4x3x224x224
      2 : CudaTensor - empty
    }
...

home/demo/torch/install/bin/luajit: ./modules/ModelParallelTable.lua:357: ModelParallelTable only supports CudaTensor, not torch.FloatTensor
stack traceback:
	[C]: in function 'error'
	./modules/ModelParallelTable.lua:357: in function 'type'

[2016-09-20 23:43] estaudt commented on #11
As another update, when I reduced nDonkeys, training seemed to run, but spit out NaNs for loss and 0 for everything else.

[2016-09-21 01:38] samson-wang commented on #17
@tanakka FYI #16  I post a piece of code in the reply.

[2016-09-22 01:12] samson-wang commented on #16
@szagoruyko Stupid mistake. The image transformer not the same with train and evaluation. So the scores inferred get wrong.

[2016-09-22 11:34] redserpent7 opened #18 "demo.lua error on some images"
Hi,

I just started with multipathnet and I am having issues with some image files. I have tested with a couple images and the test image provided and everything worked fine but some images just give this error:
[code]

Here is the image in question: [https://1drv.ms/i/s!Av-Yk52R4YupvKRWWmZUdNd4IAciKg](https://1drv.ms/i/s!Av-Yk52R4YupvKRWWmZUdNd4IAciKg)

Any suggestions?

[2016-09-23 01:16] samson-wang commented on #18
@redserpent7  Pay attention to transformer setting on the line https://github.com/facebookresearch/multipathnet/blob/master/demo.lua#L43 .
If use wrong transformer, you will get almost zero score for each bounding box candidate. Then after filtering, you will get an empty result which leads to this crash.

[2016-09-23 07:55] redserpent7 commented on #18
@samson-wang so how do you determine which transformer to use? I am trying the demo out of the box and as I said it works with most images but some crash

[2016-09-23 08:12] samson-wang commented on #18
@redserpent7  In my case, running demo.lua on the image from the test dataset got very tiny score, i.e. ~1.5e-12, for every candidate bounding box. While, the evaluation code is OK. So I track the data flow through both the evaluation and demo process. I find that the kinds of transformers' diff.

Since most of your images work fine. I'm not sure if the transformer is the reason. Maybe the model j

[2016-09-24 06:40] samson-wang opened #19 "multipathnet train Error"
When train multipathnet model. On the line https://github.com/facebookresearch/multipathnet/blob/master/models/multipathnet.lua#L26
`local data = torch.load'data/models/imagenet_pretrained_vgg.t7'`
and on the line https://github.com/facebookresearch/multipathnet/blob/master/models/multipathnet.lua#L32
`for i,v in ipairs{11,10,9,8,1} do classifier:remove(v) end`
However, the imagenet_pretrained_vgg

[2016-09-24 08:17] szagoruyko commented on #19
@samson-wang just remove this line for now, I will fix this in master later

[2016-09-24 11:08] samson-wang commented on #19
@szagoruyko  It works! Thanks!

[2016-09-24 12:50] haibucuo0 commented on #17
Link failure：https://s3.amazonaws.com/deepmask/models/sharpmask/model.t7 -O sharpmask.t7. Can you help me?

[2016-09-25 00:46] haibucuo0 opened #20 "Can it runs in the windows system with the vs2010 platform? How to build?"
Q1：Link failure：https://s3.amazonaws.com/deepmask/models/sharpmask/model.t7 -O sharpmask.t7. Can you send it to me? My e-mail is 1542734119@qq.com.

[2016-09-25 01:42] haibucuo0 commented on #20
Q1:got it

[2016-09-26 01:53] samson-wang opened #21 "Saving model crashes when training multipathnet"
When executed to the following code on the end epoch of training multipathnet model, the process crashed.
[code]
The stack trace:
[code]

FYI:
[code]
is fine.

[2016-09-28 19:06] veejai commented on #17
I know pre-computed proposals are given in the torch format since the file is huge and hard to create it at our end, but is there a straightforward approach to create these files when you are dataset is small. Like tanakka asked, whats the next step in converting those split json or t7 files into train.t7 or val.t7, is there a code snippet to make this process easier? Thanks in advance.

[2016-09-29 03:02] dearhoper opened #22 "Where to download instances_val2014.json?"
Could anyone give me the link of instances_val2014.json? Is it under the COCO-TEXT or COCO-a?
Thanks!

[2016-09-29 03:57] piconic commented on #22
It's here!! Hardest link to find lol
<img width="1080" alt="git" src="https://cloud.githubusercontent.com/assets/21302839/18940576/52b8e8f4-8644-11e6-99d8-e48aae2f4a8b.PNG">

[2016-09-29 05:18] dearhoper commented on #22
Really? But the name of the json file that is downloaded from here is ILSVRC2014.

[2016-09-29 06:13] piconic commented on #22
Oh! I'm really sorry. I made a mistake.
I confirmed that the link of the files is http://mscoco.org/dataset/#download > Annotations > 2014 Train/Val object instances [158MB].

[2016-09-29 06:21] dearhoper commented on #22
Great!! It's here!! Thanks a lot.

[2016-09-29 06:21] #22 closed

[2016-10-05 03:30] outgrabe commented on #18
@redserpent7
This error occurs when there are no valid detections. Either all the classes are 1 (the background class, which is ignored) in maxes, or the matching confidence scores in prob are below the threshold.

On this line
`local idx = maxes:squeeze():gt(1):cmul(prob:gt(config.thr)):nonzero():select(2,1)`
if by the time it gets to "select" you have an empty tensor (no valid detections), it wi

[2016-10-05 08:00] outgrabe commented on #18
It may be worth noting that the demo will also crash on greyscale images, which are included in the COCO dataset (discovered when testing with the 2014 validation set). Copying to three colour channels solves the problem and seems to have decent results.

[2016-10-05 13:54] teezeit commented on #16
Hi Samson, did you get it working? I am also trying to set up my own training pipeline, what did your workflow end up like?

[2016-10-14 16:55] knottb opened #23 "Missing dependencies"
Hi,

I am using ec2-install.sh to setup a new g2.2xlarge machine. However, some of the dependencies are not installing correctly. When I try to run eval_coco (as a test), I am getting an error:

no field package.preload['cutorch']

After investigating, running "luarocks install cutorch" fails here:

CMake Error at /usr/share/cmake/Modules/FindCUDA.cmake:539 (message):
  Specify CUDA_TOOLKIT_ROOT_D

[2016-10-15 14:08] haibucuo0 opened #24 "demo.lua run-time error :running DeepMask with MultiPathNet on provided image"
Hi,
I just started with multipathnet and I am having issues with provided example  image file.

THCudaCheck FAIL file=/tmp/luarocks_cutorch-scm-1-4692/cutorch/lib/THC/THCGeneral.c line=91 error=30 : unknown error
/media/public1/DED47AC8D47AA307/chenwenhe/objectdetection/torch/install/bin/luajit: ...jectdetection/torch/install/share/lua/5.1/trepl/init.lua:384: ...jectdetection/torch/install/share/l

[2016-10-15 14:11] #20 closed

[2016-10-15 14:59] szagoruyko commented on #24
can you run any CUDA program on your machine?

[2016-10-15 15:01] szagoruyko commented on #23
you need to install cuda first, I guess https://developer.nvidia.com/cuda-downloads

[2016-10-20 14:31] nara007 opened #25 "Is it possible to run multipathnet on Nvidia Jetson TK1?"
The compute capability of this board is 3.2，but requirements of multipathnet claims for compute capability 3.5+.  If i install multipathnet on this board, what will happen?  Thanks !

I have not jet bought this board.

some information about JetsonTK1:

NVIDIA Kepler GPU with 192 CUDA cores
• NVIDIA 4-Plus-1 quad-core ARM Cortex-A15 CPU
• 2 GB x 16 memory with 64-bit width and 16 GB 4.51 eMMC memo

[2016-10-22 01:51] gaopeng-eugene opened #26 "Relationship between images_per_batch and epochSize ?"

[2016-10-22 01:52] gaopeng-eugene commented on #26
From my point of view, images_per_batch multiply epochSize should equal to the image numbers? Given one should decide the other. In the original setting, images_per_batch is 2 while epochSize is 200 which means one epoch only look through 400 images?

[2016-10-22 10:29] gaopeng-eugene opened #27 "nGPU and number of threads has no effect on the training speed"
I tried different nGPU and threads number settings. It makes no difference on the training speed.
Can you explain the effects of nGPU and threads number?

Thanks so much for your code sharing.

[2016-10-22 16:28] gaopeng-eugene opened #28 "Can not reproduce the results"
I run the code model=data/models/caffenet_fast_rcnn_iter_40000.t7 ./scripts/eval_fastrcnn_voc2007.sh
get:
 Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=100 ] = 0.230
 Average Precision  (AP) @[ IoU=0.50      | area=   all | maxDets=100 ] = 0.492
 Average Precision  (AP) @[ IoU=0.75      | area=   all | maxDets=100 ] = 0.189
 Average Precision  (AP) @[ IoU=0.50:0.95 | area= smal

[2016-10-22 16:35] gaopeng-eugene commented on #28
run the code model=data/models/vgg_fast_rcnn_iter_40000.t7 ./scripts/eval_fastrcnn_voc2007.sh
get
 Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=100 ] = 0.304
 Average Precision  (AP) @[ IoU=0.50      | area=   all | maxDets=100 ] = 0.599
 Average Precision  (AP) @[ IoU=0.75      | area=   all | maxDets=100 ] = 0.277
 Average Precision  (AP) @[ IoU=0.50:0.95 | area= small | maxD

[2016-10-22 23:57] gaopeng-eugene commented on #28
run test_nGPU=4 test_nsamples=5000 ./scripts/eval_coco.sh
result
 Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=100 ] = 0.077
 Average Precision  (AP) @[ IoU=0.50      | area=   all | maxDets=100 ] = 0.237
 Average Precision  (AP) @[ IoU=0.75      | area=   all | maxDets=100 ] = 0.031
 Average Precision  (AP) @[ IoU=0.50:0.95 | area= small | maxDets=100 ] = 0.014
 Average Precis

[2016-10-27 10:23] szagoruyko commented on #28
can't reproduce, unfortunately

[2016-10-27 10:23] szagoruyko commented on #27
Which model were you using?

[2016-10-27 10:25] szagoruyko commented on #25
Hi, never used Jetson, if it fully supports Torch and CUDNN it's likely to run mulipathnet too.

[2016-10-27 10:27] szagoruyko commented on #26
right, epoch size does not depend on the number of images in dataset in this case.

[2016-10-28 04:54] XiongweiWu commented on #28
@szagoruyko  I cannot get the expected result as well. So I wonder whether you can share your log file of config?

[2016-10-30 15:58] szagoruyko commented on #28
@XiongweiWu can you run test.lua and see if it passes? I used latest torch and a clean clone of the code, and got the expected results

[2016-11-01 13:58] XiongweiWu commented on #28
@szagoruyko quite strange.....When I train the alexnet detection network by myself according to your script, the detection result is still around 50%....

[2016-11-01 14:15] szagoruyko commented on #28
@XiongweiWu can you post your log?

[2016-11-01 14:27] XiongweiWu commented on #28
@szagoruyko https://gist.githubusercontent.com/XiongweiWu/ba81e45f363f489e837714e723dd7ed8/raw/5481b48b4eee3dbb8ba0fa4303e9738d835bf011/multipath-log
Can you access the log file?

[2016-11-01 15:05] XiongweiWu commented on #28
@szagoruyko , BTW, to you use normalization before feature concatenation? Just curious, I read your sharpmask paper and do not find it.

[2016-11-01 23:12] moh3th1 opened #29 "Fine tuning"
How to fine tune your model?
I don't have sufficient data to retrain your model from scratch.
I want to fine tune your model on my data which has only two classes ?

[2016-11-09 17:01] knottb opened #30 "Installation Issues"
Hi,

I am having a lot of trouble installing the dependencies for multipathnet. Specifically the packages for torch. It seems CUDA is a dependency for installing torch packages (ec2-install.sh attempts to install these packages before installing CUDA), however I am having a lot of trouble installing CUDA or at least allowing CMake to find CUDA.

To install CUDA, I am using:

`cd ~
wget http://deve

[2016-11-11 13:54] Hokie23 commented on #28
After complete training of frcnn using the vgg model I am getting a mAP of .49. Is the coco evaluation different from frcnn evaluation?

[2016-11-12 19:44] szagoruyko commented on #28
I updated pycocotools and reproduced the issue, some of the commits here https://github.com/pdollar/coco/commits/master/PythonAPI/pycocotools/coco.py caused this cc @tylin . We will track it down, meantime use my fork https://github.com/szagoruyko/coco/tree/load-numpy

[2016-11-15 03:28] outgrabe opened #31 "Index error when preparing models for training."
I wanted to test training MultiPathNet (would like to train with my own classes), so I used:

train_nGPU=1 test_nGPU=1 ./scripts/train_multipathnet_coco.sh

similar to as described on the project main page. When running I get an error on the preparation stage in multipathnet.lua, when removing layers(?) from the imagenet pretrained model.

This line:
for i,v in ipairs{11,10,9,8,1} do classifier:re

[2016-11-15 12:55] szagoruyko commented on #31
@outgrabe just remove this line, see https://github.com/facebookresearch/multipathnet/issues/31
we will merge it to master when I get this CLA problem sorted

[2016-11-16 07:08] BAILOOL commented on #30
Having exactly the same error.

[2016-11-16 09:12] outgrabe commented on #30
I am currently also having this issue after attempting to switch to torch with Lua 5.1

Testing with 5.2 and switching back to default LuaJIT had identical results.

[2016-11-16 18:08] knottb commented on #30
It's almost definitely an issue related to failing to install TH++

[2016-11-17 03:33] dearhoper opened #33 "Failed to train the multipathnet model: not find THNN_Cuda...."
My old Torch can pass the process below, but failed with "not enough memory":
```/usr/bin/luajit: /usr/share/lua/5.1/threads/threads.lua:183: [thread 4 callback] not enough memory```

So I reinstall an new Torch compiled with lua5.1, but met the following problem.
Who can tell me what happened ? Thanks a lot!
[code]

[2016-11-17 14:17] szagoruyko commented on #33
update your packages:
[code]

[2016-11-22 06:54] #27 closed

[2016-11-22 06:54] #28 closed

[2016-11-22 23:36] #31 closed

[2016-11-23 01:56] dearhoper commented on #33
I have tried many times, but the problem still exists.
I don't know the difference between the two Torch, which are installed in a different way (Luajit vs Lua5.1).
Another question is whether the MultipathNet model can be trained on one GPU?

[2016-11-23 08:37] gaopeng-eugene opened #34 "How to draw the network structure in your github page"
Can you tell me how to visualize the network structure as in your project? Best Wishes

[2016-11-23 08:38] gaopeng-eugene commented on #34
https://s3.amazonaws.com/multipathnet/extra/multipathnet.pdf

[2016-11-24 07:04] outgrabe commented on #33
@szagoruyko I'm currently experiencing the same issue. Torch with luajit ran into an out of memory error, and Lua 5.1 ran into this problem. Updating those packages didn't have any impact. I also couldn't get Lua 5.2 working.

This is on Ubuntu 14.04. I had to do some funny things to get the fbpython package to compile as well (used older commit of THPP so that could build, edited the CMakeLists a

[2016-11-24 11:54] szagoruyko commented on #34
@gaopeng-eugene check https://github.com/fmassa/optimize-net

[2016-11-24 11:57] szagoruyko commented on #33
@outgrabe as for the first part regarding THNN_CudaHalf please post it in torch/cunn issues, updating packages should most definitely fix it. I am preparing a fix for the unpack issue.

[2016-11-25 11:51] szagoruyko commented on #33
@outgrabe @dearhoper can you check if https://github.com/facebookresearch/multipathnet/pull/35 fixes the issue?

[2016-11-25 13:10] desertnaut opened #36 "Swapped test results shown in eval_fastrcnn_voc2007.sh?"
Hi all,

Is it possible that the test results of `eval_fastrcnn_voc2007.sh` shown [here](https://github.com/facebookresearch/multipathnet/blob/master/scripts/eval_fastrcnn_voc2007.sh) are swapped between the two models? I run the script with `test_model=data/models/caffenet_fast_rcnn_iter_40000.t7`, and get the results reported for the `vgg16_fast_rcnn_iter_40000.t7` model:

[code]
(Unfortunately,

[2016-11-25 13:32] desertnaut commented on #30
Suggestion by @outgrabe [here](https://github.com/facebook/fblualib/issues/84) resolved the issue for me:
[code]

[2016-11-25 14:36] szagoruyko commented on #36
@desertnaut you're right, thanks for pointing out.

[2016-11-25 14:48] desertnaut commented on #36
OK, just confirmed it also with `test_model=data/models/vgg16_fast_rcnn_iter_40000.t7` (changing to `test_nGPU=1` I was able to run it without memory issues).

[2016-11-25 14:48] #36 closed

[2016-11-28 02:57] outgrabe commented on #33
@szagoruyko Appears to fix the unpack issue. I still get the warnings, though.

[code]
Now crashes on `file_name = ffi.string(self.images.file_name[idx]),` in loader.lua.

Any reason why it is loading the same proposal data twice in a row?

Since the data in `self.images.file_name[idx]` appears not to be cdata (I added a print statement to the function and got a singular `COCO_train2014_0000000578

[2016-11-28 15:01] #33 closed

[2016-11-30 01:45] outgrabe opened #38 "Error parsing file names in loader.lua"
Residual issue from #33

On Ubuntu 14.04, Torch with Lua 5.1.

[code]
Crashes on `file_name = ffi.string(self.images.file_name[idx]),` in loader.lua.

Could this be related in some way to it loading the same proposal data twice in a row?

Since the data in `self.images.file_name[idx]` appears to not be cdata -- I added a print statement to the start of the function and got a singular `COCO_train20

[2016-12-04 01:13] fanyix opened #39 "LuaJIT not enough memory"
Hello,
I run into the following issue while running the training script for coco.

convert: ./data/annotations/instances_train2014.json --> .t7 [please be patient]
/home/fanyix/torch/install/bin/luajit: not enough memory

It seems to be related to the memory limit of LuaJIT. But not sure if there is any solution to it.
One potential workaround is to build my torch against plain Lua instead of LuaJ

[2016-12-04 03:52] zhangyingxia opened #40 "install fbpython errror"
when i run "luarocks install fbpython",the error happened an follows:

CMake Error at /usr/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:108 (message):
  Could NOT find PythonLibs (missing: PYTHON_LIBRARIES PYTHON_INCLUDE_DIRS)
  (Required is at least version "2.7.12")
Call Stack (most recent call first):
  /usr/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:315 (_FPHSA_FAILURE_

[2016-12-04 07:07] zhangyingxia commented on #30
@desertnaut when i run "THPP_NOFB=1 ./build.sh ", the error happened as follows:
If you don't have folly or thrift installed, try doing
  THPP_NOFB=1 ./build.sh
curl: option -JLOk: is unknown
curl: try 'curl --help' or 'curl --manual' for more information

could you help me to fix it~thanks

[2017-01-06 11:11] archenroot opened #41 "Attempt to concentate a nil value"
I just finished the whole stack installation (half via ebuilds, half from sources) on Gentoo system. Thing is that any lua file I try to execute via th something.lua is ending as:
[code]

I think I am missing something in general, but the error doesn't not lead me to resolution...

Thanks for any hints.

Ladislav

[2017-01-06 13:25] szagoruyko commented on #41
Can you do:
[code]
int the interpreter and see if it gives a better error trace?

[2017-01-06 13:27] szagoruyko commented on #40
I don't know why, maybe @ebetica knows better?

[2017-01-06 13:37] szagoruyko commented on #39
That's a problem of https://github.com/pdollar/coco, if you have OS X at hand you can convert there and copy the file over. Mysteriously doesn't happen in OS X.

[2017-01-07 10:24] archenroot commented on #41
Hi guys, ahh, now I see, there are 2 "coco" modules here required. Just to let you know the context, I am wrapping all the torch packages in the Gentoo ebuild system which are available [ArchenRoot Gentoo Overlay](https://github.com/archenroot/gentoo-overlay). It is still very experimental and some of modules I had to install still manually as would like to have quickly Multipathnet available.

I

[2017-01-07 10:27] archenroot commented on #41
So when I try now to execute require I get:
[code]

[2017-01-22 16:33] mrtortong commented on #30
@zhangyingxia
change CMakeLists.txt
SET(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=gnu++14")

[2017-02-08 00:52] Jimjipeng opened #42 "problem：th demo.lua -img ./deepmask/data/testImage.jpg"
/home/jp/torch/install/bin/luajit: /home/jp/torch/install/share/lua/5.1/trepl/init.lua:389: /home/jp/torch/install/share/lua/5.1/trepl/init.lua:389: module 'cunn' not found:No LuaRocks module found for cunn
	no field package.preload['cunn']
	no file '/home/jp/.luarocks/share/lua/5.1/cunn.lua'
	no file '/home/jp/.luarocks/share/lua/5.1/cunn/init.lua'
	no file '/home/jp/torch/install/share/lua/5.1/c

[2017-02-08 05:50] samson-wang commented on #42
Did you install cunn?
try `luarocks install cunn`

[2017-02-08 05:53] #19 closed

[2017-02-09 15:49] minouminou opened #43 "Proposals t7 files"
Hello how to generate proposals t7 files from deepmask output on my data? I use code in [issue #16](https://github.com/facebookresearch/multipathnet/issues/16). When I try to train on 1 GPU I see error:
`/home/alex/torch/install/bin/luajit: ./modules/BBoxRegressionCriterion.lua:27: bad argument #1 to 'copy' (sizes do not match at /tmp/luarocks_cutorch-scm-1-4541/cutorch/lib/THC/THCTensorCopy.cu:31

[2017-02-13 05:58] Jimjipeng commented on #42
try luarocks install cunn
【result】
CMake Error at /usr/share/cmake-3.5/Modules/FindCUDA.cmake:617 (message):
  Specify CUDA_TOOLKIT_ROOT_DIR
Call Stack (most recent call first):
  CMakeLists.txt:7 (FIND_PACKAGE)

[2017-02-13 06:17] samson-wang commented on #42
It said `Specify CUDA_TOOLKIT_ROOT_DIR`
try
`CUDA_TOOLKIT_ROOT_DIR=/path/to/cuda/root luarocks install cunn`

[2017-02-13 11:27] minouminou commented on #43
Was need to change row `opt.num_classes = opt.dataset == 'pascal' and 21 or 81 to opt.num_classes = 2`
to `opt.num_classes=<number of classes+1>`

[2017-02-13 11:27] #43 closed

[2017-03-10 03:36] #16 closed

[2017-03-10 03:58] samson-wang opened #44 "An error that may lead to a high precision drop."
Hi guys,

I have trained a model by multipathnet version frcnn on my own dataset with only one foreground class. Compared to the original frcnn model, which has AP at 0.93 on the same training and validation dataset, the multipath version only get AP around 0.7.

After many debug, I think the problem is that the coordinates preprocess mistakes. I change the corresponding code, then the AP go high

[2017-03-11 02:20] godfly opened #45 "demo.lua out of memory problem"
Hi,
I'm trying to run the demo.lua but return to out of memory problem
**here is my mechine condition:
ubuntu 16.04   i5-6500 with 8G memory
GeForce GTX 950  Driver Version: 375.39  cuda8.0**

error infomation is following
THCudaCheck FAIL file=/home/jam/torch/extra/cutorch/lib/THC/generic/THCStorage.cu line=66 error=2 : out of memory
/home/jam/torch/install/bin/luajit: /home/jam/torch/install/sha

[2017-03-13 02:47] samson-wang commented on #44
https://github.com/samson-wang/multipathnet/commit/522a894fb899b4132db1b555cfdc6cd05976e693#diff-2ebe969b75ddaebef2a30717b15de628

[2017-03-18 10:32] nico00 commented on #30
@desertnaut
I tried your suggestion and I've installed thpp with success, but which are the following steps to install fbpython ? Launching `luarocks install fbpython` I get the usual error message because it tries to reinstall thpp.
Thanks for any help.

[2017-03-29 03:21] Sophia-intel commented on #30
@desertnaut  I have installed thpp successed,but when luarocks install fbpython again,i met a new problem,just like this:
-- Build files have been written to: /tmp/luarocks_fbpython-0.1-2-5906/fblualib/fblualib/python/build
Scanning dependencies of target lua_module
[ 12%] Building CXX object CMakeFiles/lua_module.dir/Debug.cpp.o
[ 25%] Building CXX object CMakeFiles/lua_module.dir/Lib.cpp.o
In fi

[2017-03-29 14:16] nico00 commented on #30
Thanks @Sophia-intel . Finally I installed everything with success, but actually I had to install a huge amount of dependencies, like wangle, mstch, zstd and fbthrift. Now I'm able to run the predefined model but I've not tried to train a new one yet.

[2017-04-12 11:42] Decade1993 commented on #45
you can reset maxsize when you run the demo.lua
like this:  th demo.lua -img ./deepmask/data/testImage.jpg -maxsize 100

[2017-04-20 10:53] pamio opened #46 "Training custom data set"
Hi,
How do I train a custom data set ? How to create the bounding box proposals and prepare data for training ?

[2017-04-28 19:18] chrisckr commented on #28
Seems like this issue still exists. Running it with the newest pycocotools version:
test_nGPU=4 test_nsamples=5000 ./scripts/eval_coco.sh

 Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=100 ] = 0.072
 Average Precision  (AP) @[ IoU=0.50      | area=   all | maxDets=100 ] = 0.221
 Average Precision  (AP) @[ IoU=0.75      | area=   all | maxDets=100 ] = 0.031
 Average Precision  (

[2017-05-17 19:46] nara007 opened #47 "pre-trained model on arm platform"
I want to run multipathnet on NVIDIA tx1(ARM architecture),  but i seems the model is trained for X86 platform, sharpmask.t7 can't be loaded. Are there pre-trained model "**sharpmask.t7**"
 and "**resnet18_integral_coco.t7**"  for ARM platform?

ubuntu@tegra-ubuntu:/mnt/sdcard/multipathnet$ th demo.lua
Warning: Failed to load function from bytecode: (binary): cannot load incompatible bytecodeWarni

[2017-05-18 14:45] minouminou commented on #46
See https://github.com/facebookresearch/multipathnet/issues/16

[2017-05-19 10:01] pamio commented on #46
Thanks

[2017-06-14 22:19] gcheron commented on #28
Thanks @szagoruyko ! I had the same issue but changing to your load-numpy branch solved it! Do you have any idea why original coco repo does not reproduce?

[2017-06-23 05:46] geekvc opened #48 "evaluate error"
th demo.lua goes well
when I run the evaluate:
model=data/models/caffenet_fast_rcnn_iter_40000.t7 ./scripts/eval_fastrcnn_voc2007.sh
model=data/models/vgg_fast_rcnn_iter_40000.t7 ./scripts/eval_fastrcnn_voc2007.sh
or
test_nGPU=4 test_nsamples=5000 ./scripts/eval_coco.sh
I got the similar error
[code]

[2017-08-03 02:07] yeates opened #49 "run demo.lua error in __convert:decode, Expected value but found T_END at character 1"
I update the models and annotations to make sure that no files damage. But still say in function decode occur something wrong.

That's wrong parts:
[code]
I need your help, thank you very much! I will appreciate it.

[2017-08-25 08:35] kevindm commented on #24
Please make sure nvidia-uvm module is loaded. See [here](https://devtalk.nvidia.com/default/topic/760872/ubuntu-12-04-error-cudagetdevicecount-returned-30/)

[2017-10-05 07:18] Sorkanius commented on #40
Hi!

Was someone able to solve this problem?

Thank you!

[2017-10-05 14:32] ebetica commented on #40
On Ubuntu, make sure the `python-dev` package is installed https://askubuntu.com/questions/479260/cmake-can-not-find-pythonlibs

If you're sure you have the libraries and headers, then CMAKE might not be locating the right versions of each. Set the paths in https://cmake.org/cmake/help/v3.0/module/FindPythonLibs.html so that the headers and libraries of the right versions are in the right location

[2017-10-05 14:41] Sorkanius commented on #40
Wow!

Thank you for for quick response. It was a problem with the headers.

For anyone having problems with torch, I highly recommend using docker, makes sense when you have to install so many things. [This one](https://hub.docker.com/r/kaixhin/cuda-torch/) is pretty good.

[2017-12-29 05:35] Crista23 opened #50 "Error installing fbpython"
When I try to install the fbpython library using luarocks on Ubuntu 14.04, I get the error message bellow:

luarocks install fbpython
[code]

The error complains about missing attributes GLOG_INCLUDE_DIR GLOG_LIBRARY, however I have installed the Google glog library on my system. Any idea on how I can fix this? Thank you!

[2018-04-27 02:04] wj4y78308 commented on #49
I have the same error!
My environment can run DeepMask and SharpMask successfully. However, when I try to run demo in multiPath I get this error!

Can someone help me? please!

[2018-08-10 05:02] #39 closed

[2019-03-04 10:48] sizhky commented on #12
Can't find it anymore!!

[2019-03-05 13:20] m090009 commented on #12
Same here @sizhky, but after some searching I found it at he `dataset/external` then scroll to the PASCAL VOC and there is a [link](https://storage.googleapis.com/coco-dataset/external/PASCAL_VOC.zip) to the COCO style PASCAL json

[2020-04-25 18:13] atul219 commented on #12
@m090009 The link which you have given is showing some kind of error.
![Screenshot (171)](https://user-images.githubusercontent.com/33904670/80287321-88c48200-874e-11ea-9106-54caceda645b.png)

[2021-03-19 11:48] olfa-koubaa opened #54 "annotation files not"
the link provided to download dataset annotations seems to not be working anymore

[2021-03-19 12:18] olfa-koubaa commented on #54
you shhould use cocodataset.org

[2021-03-19 12:18] #54 closed, assigned to nobody

[2021-06-13 07:27] bfhaha commented on #22
The dataset has been moved to here
https://cocodataset.org/#download